@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead"> Coeliac friendly food blog, home of reviews, recipes and opinions no one requested for!</p>
            <hr class="my-4">
            <p> This blog is primarily a testing ground to improve my coding abilities and apply what I've learnt</p>
    </div>

    <div class="row" style="margin:auto">
        <div class="column">
            <img src="@Url.Content("~/Images/Coffee.png")" alt="Coffee" class="thumb1">
        </div>
        <div class="column">
            <img src="@Url.Content("~/Images/AhiPoke.png")" alt="AhiPoke" class="thumb1">
        </div>
        <div class="column">
            <img src="@Url.Content("~/Images/Steak.png")" alt="Steak" class="thumb1">
        </div>
        <div class="column">
            <img src="@Url.Content("~/Images/Frittata.png")" alt="Frittata" class="thumb1">
        </div>
    </div>
